Clarify guidance regarding the P-256 curve

The "interoperability" configuration for Apache contains this:

```
SSLOpenSSLConfCmd Curves secp384r1:secp521r1:secp224r1:sect571r1:sect571k1:sect409r1:sect409k1:sect283r1:sect283k1:sect233r1:sect233k1
```

And this for IIS's "interoperability" configuration:

```
$EccCurvesValue = ('secP384r1','secP521r1','secP224r1')
```

Curve secp256r1 is not mentioned at all. This seems strange given that secp224r1, sect233r1, and sect233k1 are mentioned. Is this an oversight or intentional? Should secp256r1 be added to the interoperability configurations? This is especially perplexing because I would guess secp256r1 would be the most interoperable curve.

The guide "Eliminating Obsolete TLS Protocol Configurations" doesn't mention P-256 at all. One could infer that it should be treated as a "custom curve" and then the recommendation to follow would be "Immediately block." However, there's also a footnote in that document that indicates that custom curves are deprecated in RFC 8422 Section 5.1.1; from this one could infer that custom curves refer only to curves that are indicated syntactically by specifying the parameters and specifically would NOT include curves that can be "named curves" like P-256.

The "Eliminating Obsolete TLS Protocol Configuratins" document I'm referring to above is https://media.defense.gov/2021/Jan/05/2002560140/-1/-1/0/ELIMINATING_OBSOLETE_TLS_UOO197443-20.PDF.

And for `nginx` it's `ssl_ecdh_curve secp384r1;`
https://github.com/nsacyber/Mitigating-Obsolete-TLS/blob/master/webserver/nginx-tls.txt#L11

From the document @briansmith mention:
"NSA recommends RSA key transport and ephemeral DH (DHE) or ECDH (ECDHE) mechanisms, with RSA or DHE key exchange using at least 3072-bit keys and ECDHE key exchanges using the secp384r1 elliptic curve."

I'm no crypto person, I just try to implement things, but is there any reason `secp384r1` is recommended but `secp521r1` isn't?

```
$ openssl version && openssl ecparam -list_curves | grep -E 'secp.*r1' | sort -r
OpenSSL 1.1.1i  8 Dec 2020
  secp521r1 : NIST/SECG curve over a 521 bit prime field
  secp384r1 : NIST/SECG curve over a 384 bit prime field
  secp224r1 : NIST/SECG curve over a 224 bit prime field
  secp160r1 : SECG curve over a 160 bit prime field
  secp128r1 : SECG curve over a 128 bit prime field
  secp112r1 : SECG/WTLS curve over a 112 bit prime field
```

@konstruktoid Could you please move your comments to a new issue so that this one can stay focused on P-256? I would appreciate it. The current lack of guidance for P-256 is a big problem for some products that is urgent to address.

P-256 is allowed for interoperability; it is prohibited for NSS to NSS communications. The configurations will be updated.

Thanks @briansmith for your input. The configurations were updated to include the 256 curve. Let us know what you think! 💪